body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button{
  width:25px;
  height:25px;
  
}

.default{
  background-image: url("../public/resource/images/default.png");
  background-size : 100%;
}

.zero{
  background-image: url("../public/resource/images/zero.png");
  background-size : 100%;
}

.one{
  background-image: url("../public/resource/images/one.png");
  background-size : 100%;
}

.two{
  background-image: url("../public/resource/images/two.png");
  background-size : 100%;
}

.three{
  background-image: url("../public/resource/images/three.png");
  background-size : 100%;
}

.four{
  background-image: url("../public/resource/images/four.png");
  background-size : 100%;
}

.five{
  background-image: url("../public/resource/images/five.png");
  background-size : 100%;
}

.six{
  background-image: url("../public/resource/images/six.png");
  background-size : 100%;
}

.seven{
  background-image: url("../public/resource/images/seven.png");
  background-size : 100%;
}

.eight{
  background-image: url("../public/resource/images/eight.png");
  background-size : 100%;
}

